---
layout: layouts/base.njk
title: Home
eleventyNavigation:
  key: Home
  order: 1
---

<section class="has-text-centered mt-6">
  <h1 class="title is-2">Whether Weather</h1>

  <p class="subtitle is-4 mt-4">
    Global weather data powered by satellite technology.
  </p>

  <p class="subtitle is-4 mt-4">
    Check today’s conditions and the 7-day forecast for cities worldwide.
  </p>

  <p class="subtitle is-4 mt-4">
    Choose favourite cities & weather conditions using the settings page.
  </p>

  <p class="subtitle is-4 mt-4">
    Calculate the real-feel temperature with the wind chill tool.
  </p>

</section>
